body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgb(76, 141, 245);
  color: #fff;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
}

.header a:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 30px 40px;
  width: 300px;
  color: white;
  background: rgb(76, 141, 245);
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 0 auto;
  margin-top: 100px;
}
.form input {
  padding: 5px 40px 5px 40px;
  border-radius: 3px;
  border: none;
}
.form label {
  font-weight: lighter;
}

.form button {
  border: none;
  padding: 10px 25px 15px 25px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 25px;
}

.btn-logout {
  cursor: pointer;
  padding: 10px;
  color: white;
  background: none;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 18px;
}
